.header-background  {
    background-image: url('/static/images/skylines/default-skyline.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

#resize-handle {
    position: absolute;
    left: 50%; /* Center the handle horizontally */
    bottom: 0;
    width: 40px; /* Smaller width for a less intrusive handle */
    height: 5px; /* Smaller height */
    background: #ccc; /* Visible handle */
    cursor: ns-resize; /* Cursor indicates resizing */
    transform: translateX(-50%); /* Adjust positioning to truly center the element */
    border-radius: 5px; /* Optional: adds rounded corners for a smoother look */
}

#keyhole {
    display: none; /* Start hidden */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Add more styling as needed */
}
#greeting-style, #daily-reminder {
    /* Shared styling for greeting and reminder */
    margin-bottom: 10px;
}

#daily-reminder {
    display: none; /* Start hidden */
    color: #d9534f; /* Customize color */
    font-style: italic;
}
#videoContainer iframe {
    max-width: 100%;
    height: auto;
}
